<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
	</head>
	<body>
		<%- include('partials/navigation') %>

		<header
			class="container mx-auto flex justify-center items-center flex-col min-h-screen text-center"
		>
			<div>
				<img class="w-48" src="/images/fazt.png" alt="logo" />
				<h1 class="text-5xl font-black">FAZT</h1>
			</div>
		</header>

		<%- include('partials/footer') %>
	</body>
</html>
