<footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ut minima sit, eos repellat quibusdam officiis culpa perspiciatis commodi? Accusamus harum porro tenetur doloremque esse, in perferendis architecto dolores temporibus.</p>
</footer>